<style>
  .item-radio .item-content {
    padding-right: 20px;
  }
</style>

<div class="row">
  <ion-radio name="call" ng-model="data.call" ng-value="0">0</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="1">1</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="2">2</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="3">3</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="4">4</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="5">5</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="6">6</ion-radio>
</div>
<div class="row">
  <ion-radio name="call" ng-model="data.call" ng-value="7">7</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="8">8</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="9">9</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="10">10</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="11">11</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="12">12</ion-radio>
  <ion-radio name="call" ng-model="data.call" ng-value="13">13</ion-radio>
</div>
